<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cluedo</title>
    <link rel="stylesheet" href="css/mvp.css">
</head>
<body>
<main>
    <header>
        <h1>Cluedo data lists:</h1>
    </header>
    <h2>The persons</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Anrede</th>
            <th>Haarfarbe</th>
            <th>Alter</th>
            <th>Grösse</th>
            <th>Merkmal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.anrede}"></td>
            <td th:text="${person.haarfarbe}"></td>
            <td th:text="${person.alter}"></td>
            <td th:text="${person.groesse}"></td>
            <td th:text="${person.merkmal}"></td>
        </tr>
        </tbody>
    </table>
    <h2>The weapons</h2>
    <table>
        <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Material</th>
            <th>Länge in cm</th>
            <th>Gewicht in cm</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weapon : ${weapons}">
            <td th:text="${weapon.bezeichnung}"></td>
            <td th:text="${weapon.material}"></td>
            <td th:text="${weapon.laenge}"></td>
            <td th:text="${weapon.gewicht}"></td>
        </tr>
        </tbody>
    </table>
    <h2>The rooms</h2>
    <table>
        <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Material</th>
            <th>Länge in cm</th>
            <th>Gewicht in cm</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weapon : ${weapons}">
            <td th:text="${weapon.bezeichnung}"></td>
            <td th:text="${weapon.material}"></td>
            <td th:text="${weapon.laenge}"></td>
            <td th:text="${weapon.gewicht}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>